body{
    color: black;
    font-family: 'Roboto', sans-serif;
}
#index{
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: white;
}
#professores{
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: lightcoral;
    color: black;
}
#equipe{
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: white;
    color: black;
}
#niveis{
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: indianred;
    
}
#sobre{
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: white;
}
#contato{
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: darkred;   
    color: white;
}
.glyColor{
    color: #023850;
} 
img{
    border-radius: 10px;
}
.avatar{
    width: 50px;
    height: 50px;
}
h3{
    margin-left: 15px;
}
.myHover{
    transition: all .2s;
}
.myHover:hover{
    background-color: #ddd;
}